h1{
    display: flex ;
    justify-content: center ;
}
body{
    background-image: url(../homework/cvimg.jpg);
    font-family: Arial, Helvetica, sans-serif
}
img{
    height: 400px;
    width: 400px

}